/*fuentes*/
@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format(embedded-opentype),
         url(fonts/websymbols-regular-webfont.woff) format(woff),
         url(fonts/websymbols-regular-webfont.ttf) format(truetype),
         url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format(svg);
    font-weight: normal;
    font-style: normal;
}

/* estilos generales */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
}

/* publicidad*/

.header__span{
    width: 100%;
    background-color: #e3141c;
    transition: 0.3s ease;
}

.header__span:hover{
    background-color: #980b10;
}

.span__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

.uno{
    background-color: white;
    width: 10%;
    margin: 2%;
}

.dos{
    color: white;
}

.tres{
    color: white;
    font-size: 2rem;
}

.cuatro{
    background-color: white;
    text-decoration: none;
    color: #e3141c;
    padding: 1%;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.cuatro:hover{
    background-color: #000;
    color: white;
}

/* header */

.header__header{
    width: 100%;
    background-color: limegreen;
    transition: 0.3s ease;
}

.header__header:hover{
    background-color: rgba(50, 205, 50, 0.646);
}

.header__content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}

/* logotipo*/

.content__logo h1 a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.content__logo h1 a:hover{
    color: #000;
}

/* busqueda*/

.box{
    background-color: white;
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
    transition: 0.3s ease;
}

.box:hover{
    background-color: #000;
}

.box:hover label, .box:hover input{
    color: white;
  }

.icon{
    width: 20%;
    font-family: "WebSymbolsRegular";
    cursor: pointer;
    color: #000;
}

input{
    width: 80%;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #000;
}

/* menu */

.content__menu nav ul{
    list-style: none;
    display: flex;
}

.content__menu nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.content__menu nav ul li a:hover{
    color: #000;
}

/* main */

.main{
    width: 100%;
}

/* seccion 1*/

.section__article{
    background-image: url(/img/microfono.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.article__centro{
    color: white;
    background-color: #0000008d;
    text-align: center;
    transition: 0.3s ease;
    padding: 10%;
}

.article__centro:hover{
    background-color: #00000041;
}

.section__article a{
    background-color: limegreen;
    text-decoration: none;
    color: white;
    padding: 2%;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.section__article a:hover{
    background-color: rgba(50, 205, 50, 0.646);
}

/* seccion 2*/

.section2__article2{
    text-align: center;
    padding: 1rem;
}

/* tercera seccion */

.cursos__content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cursos{
    background-color: #ffffff;
    width: 23%;
    height: 25rem;
    text-align: center;
    transition: 0.3s ease;
}

.cursos:hover{
    background-color: rgba(191, 236, 191, 0.369);
}

.cursos iframe{
    width: 100%;
    height: 10rem;
}

.cursos h4{
    margin: 1rem;
}

.cursos p{
    margin: 2%;
    font-size: 1em;
    color: #969494;
}

.cursos button{
    font-size: 1em;
    margin: 1rem;
    padding: 4%;
    border: none;
    background-color: #00b2be;
    color: #ffffff;
    cursor: pointer;
}

.cursos__boton{
    height: 10rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 10rem;
}

.cursos__boton a{
    background-color: limegreen;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.cursos__boton a:hover{
    background-color: rgba(50, 205, 50, 0.646);
}

/* caja de recomendaciones*/

.caja__info{
    background-color: #ffffff;
}

.caja__pasivo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.topo{
    flex: 1 0 50%;
    padding: 2rem;
    box-sizing: border-box;
}

/* cuadro de imagenes */

.img__caja{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.pene{
    flex: 1 0 50%;
    padding: 2rem;
    box-sizing: border-box;
}

.pene img{
    width: 100%;
}

/* footer */

.footer{
    background-color: #969494;
}

.footer__caja{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    line-height: 500px;
    font-size: 2rem;
}

